<h1>Bottoms Selection</h1>
<div class = "linkContainer">

<%= link_to'landing Collection', landing_path %>
<%= link_to'Top Collection', tops_path %>
<%= link_to'Shoe Collection', shoes_path %>

</div>