<div class = "pageTitle">

<h1>Welcome to RAM clothing</h1>
<p>Explore our clothing collection</p>

</div>

<div class = "linkContainer">

<%= link_to'Top Collection', tops_path %>
<%= link_to'Bottom Collection', bottoms_path %>
<%= link_to'Shoe Collection', shoes_path %>

</div>


