body {
  font-family: sans-serif;
  background-color: rgb(186, 186, 139);
}
.linkContainer {
display: flex;
flex-direction: column;
/* align-items: flex-start; */
/* margin-bottom: 50px; */
line-height: 10;
}

.pageTitle {
text-align: center;
}

img {
width: 500px;
}